.github-fadein img {
    right:150px;
    animation:github-fadein 1s cubic-bezier(.18, .98, .35, 1) forwards;
    -webkit-animation:github-fadein 1s cubic-bezier(.18, .98, .35, 1) forwards;
}

.github-fadeout img {
    right:0px;
    animation:github-fadeout 1s ease-out forwards;
    -webkit-animation:github-fadeout 1s ease-out forwards;
}

@-webkit-keyframes github-fadein {
    from { top:-150px; right:-150px; }
    to { top:0px; right:0px; }
}

@-webkit-keyframes github-fadeout {
    from { top:0px; right:0px; }
    to { top:-150px; right:-150px; }
}

@keyframes github-fadein {
    from { top:-150px; right:-150px; }
    to { top:0px; right:0px; }
}

@keyframes github-fadeout {
    from { top:0px; right:0px; }
    to { top:-150px; right:-150px; }
}