body {
  background:red;
}

.WebComp-WebPage-BasicDemoPage-WebComp {
  padding: 20px;
}
.WebComp-WebPage-BasicDemoPage-WebComp.fadeIn {
  animation: WebCompFadeIn .5s cubic-bezier(0, 0.98, 0, 1) forwards;
}
.WebComp-WebPage-BasicDemoPage-WebComp.fadeOut {
  animation: WebCompFadeOut .5s cubic-bezier(0, 0.98, 0, 1) forwards;
}
.WebComp-WebPage-BasicDemoPage-WebComp.loaded {
  width: 350px;
  height: 450px;
}

@keyframes WebCompFadeIn {
  from {
    width: 100px;
    height: 100px;
  }
  to {
    width: 350px;
    height: 450px;
  }
}
@keyframes WebCompFadeOut {
  from {
    width: 350px;
    height: 450px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}
