.WebComp-BasicDemoPage-Overview {
  padding: 20px;
}
.WebComp-BasicDemoPage-Overview.fadeIn {
  animation: OverviewFadeIn 2s cubic-bezier(0, 0.98, 0, 1) forwards;
}
.WebComp-BasicDemoPage-Overview.fadeOut {
  animation: OverviewFadeOut 2s cubic-bezier(0, 0.98, 0, 1) forwards;
}
.WebComp-BasicDemoPage-Overview.loaded {
  width: 350px;
  height: 450px;
}

@keyframes OverviewFadeIn {
  from {
    width: 100px;
    height: 100px;
  }
  to {
    width: 350px;
    height: 450px;
  }
}
@keyframes OverviewFadeOut {
  from {
    width: 350px;
    height: 450px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}
