#main-content {
    height:250px;
    -webkit-animation:loadHome 1s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards;
    animation:loadHome 1s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards;
}

#main.unload #main-content {
    -webkit-animation:unloadHome 1s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards;
    animation:unloadHome 1s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards;
}

#main-content b {
    color:red;
}

.WebComp-BgAnim {
    height:658px;
    background:url('bg-home.jpg') no-repeat top center;
    -webkit-animation:homeBgIntro 2s cubic-bezier(.03,.61,.49,.99) forwards;
    animation:homeBgIntro 2s cubic-bezier(.03,.61,.49,.99) forwards;
}

/* -- webkit -- */

@-webkit-keyframes loadHome {
    from { height:250px; }
    to { height:120px; }
}

@-webkit-keyframes unloadHome {
    from { height:120px; }
    to { height:250px; }
}

@-webkit-keyframes homeBgIntro {
    from { opacity:0; background-position:45% 0%; }
    to { opacity:1; background-position:50% 0; }
}

/* -- normal -- */

@keyframes loadHome {
    from { height:250px; }
    to { height:120px; }
}

@keyframes unloadHome {
    from { height:120px; }
    to { height:250px; }
}

@keyframes homeBgIntro {
    from { opacity:0; background-position:45% 0%; }
    to { opacity:1; background-position:50% 0; }
}
