.debugViewer {
  position: fixed;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  margin: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 200px;
  overflow: auto;
  z-index: 1000;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, .2);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, .5);
}
