#main-content {
    height:250px;
    -webkit-animation:loadThanks 1s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards;
    animation:loadThanks 1s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards;
}

#main.unload #main-content {
    -webkit-animation:unloadThanks 1s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards;
    animation:unloadThanks 1s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards;
}

@-webkit-keyframes loadThanks {
    from { height:250px; }
    to { height:170px; }
}

@-webkit-keyframes unloadThanks {
    from { height:170px; }
    to { height:250px; }
}

@keyframes loadThanks {
    from { height:250px; }
    to { height:170px; }
}

@keyframes unloadThanks {
    from { height:170px; }
    to { height:250px; }
}