b { color:skyblue; }

body { height:100%; }

#menu-content .menu-navigation a {
    background:skyblue;
    color:black;
}

.WebComp-BgAnim {
    height:1000px;
    background:url('bg-navigation.jpg') no-repeat top center;
    -webkit-animation:homeBgIntro 2s cubic-bezier(.03,.61,.49,.99) forwards;
    animation:homeBgIntro 2s cubic-bezier(.03,.61,.49,.99) forwards;
}

#main-content {
    height:250px;
    -webkit-animation:loadPageNavigation .5s cubic-bezier(.78, 1.69, .12, .62) forwards;
    animation:loadPageNavigation .5s cubic-bezier(.78, 1.69, .12, .62) forwards;
}

#main.unload #main-content {
    -webkit-animation:unloadPageNavigation .5s cubic-bezier(.78, 1.69, .12, .62) forwards;
    animation:unloadPageNavigation .5s cubic-bezier(.78, 1.69, .12, .62) forwards;
}

/* -- webkit -- */

@-webkit-keyframes loadPageNavigation {
    from { height:250px; }
    to { height:300px; }
}

@-webkit-keyframes unloadPageNavigation {
    from { height:300px; }
    to { height:250px; }
}

@-webkit-keyframes BodySlideOut {
    from { margin-left:0px; background:#F9F9F9; }
    to { margin-left:-200%; background:#11111; }
}

@-webkit-keyframes BodySlideIn {
    from { margin-left:200%; background:#11111; }
    to { margin-left:0; background:#F9F9F9; }
}

@-webkit-keyframes bGDarkOut {
    from { background:#111; }
    to { background:#F9F9F9; }
}

@-webkit-keyframes homeBgIntro {
    from { opacity:0; background-position:45% 350px; }
    to { opacity:1; background-position:45% 400px; }
}

/* -- normal -- */

@keyframes loadPageNavigation {
    from { height:250px; }
    to { height:300px; }
}

@keyframes unloadPageNavigation {
    from { height:300px; }
    to { height:250px; }
}

@keyframes BodySlideOut {
    from { margin-left:0px; background:#F9F9F9; }
    to { margin-left:-200%; background:#11111; }
}

@keyframes BodySlideIn {
    from { margin-left:200%; background:#11111; }
    to { margin-left:0; background:#F9F9F9; }
}

@keyframes bGDarkOut {
    from { background:#111; }
    to { background:#F9F9F9; }
}

@keyframes homeBgIntro {
    from { opacity:0; background-position:45% 350px; }
    to { opacity:1; background-position:45% 400px; }
}