#menu { top:0; position:absolute; height:530px; margin-top:20px; }
#menu-content { height:100%; width:200px; margin:0 0 0 0; position:absolute; top:0; left:-200px; }
#menu-content ul { list-style:none; margin:0; padding:0; overflow:hidden; padding-bottom:10px; }
#menu-content ul li { margin-left:200px; box-shadow:2px 2px 3px rgba(0,0,0,.3); }
#menu-content a { background:#333; white-space:nowrap; color:#888; font-size:20px; display:block; padding:10px 20px; text-shadow:1px 1px 1px rgba(0, 0, 0, .8); }
#menu-content a:hover { background:#555; color:#FFF; }

.menu-fadein { -webkit-animation:menu-fadein 2s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards; animation:menu-fadein 2s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards; }
.menu-fadeout { -webkit-animation:menu-fadeout 2s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards; animation:menu-fadeout 2s cubic-bezier(0.005, 0.985, 0.005, 1.010) forwards; }

@-webkit-keyframes menu-fadein {
    from { margin-left:200px; }
    to { margin-left:0; }
}

@-webkit-keyframes menu-fadeout {
    from { margin-left:0px; }
    to { margin-left:200px; }
}

@keyframes menu-fadein {
    from { margin-left:200px; }
    to { margin-left:0; }
}

@keyframes menu-fadeout {
    from { margin-left:0px; }
    to { margin-left:200px; }
}