.WebComp-BubbleUrl {
    position:absolute;
    height:100px;
    width:100%;
    top:0;
}

#bubblePerspective {
    top:0px;
    background:blue;
    width:215px;
    height:0px;
    perspective:1000px;
}

.BubbleUrl {
    transform-origin:-110px 0;
    position:fixed;
    top:0;
    background:url('BubbleUrl.png');
    opacity:.8;
    width:215px;
    height:209px;
    -webkit-animation:BubbleUrlIntro .6s ease-out forwards;
    animation:BubbleUrlIntro .6s ease-out forwards;
}

.BubbleUrl div {
    margin-top:97px;
    text-align:center;
    margin-left:-13px;
}

@-webkit-keyframes BubbleUrlIntro {
    0% { transform:rotateX(-90deg); }
    40% { transform:rotateX(20deg); }
    70% { transform:rotateX(-10deg); }
    100% { transform:rotateX(0deg); }
}

@keyframes BubbleUrlIntro {
    0% { transform:rotateX(-90deg); }
    40% { transform:rotateX(20deg); }
    70% { transform:rotateX(-10deg); }
    100% { transform:rotateX(0deg); }
}